/* Основные настройки стилей */

@import 'variables.scss';

@font-face {
font-family: 'Open Sans Bold';
src: url('../fonts/Open Sans Bold/OpenSans-Bold.eot');
src: url('../fonts/Open Sans Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Open Sans Bold/OpenSans-Bold.woff') format('woff'),
url('../fonts/Open Sans Bold/OpenSans-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: $txt-color;
  background-color: $bg-color;
  
}

.container {
  width: 960px;
  margin: 80px auto;

	@media (max-width: 1000px) {
		width: 768px;
	}
	
	@media (max-width: 768px) {
		width: 480px;
		margin: 20px auto;
	}
	
	@media (max-width: 480px) {
		width: 320px;
	}
}

h2 {
  margin: 0;
  font-family: 'Open Sans Bold';
  font-size: 22px;
  line-height: 26px;
  color: #383d43;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 11px 31px;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: $btn-color;
  
}

.clearfix {
		&::after {
		content: '';
		display: table;
		clear: both;
	}
}
